<p id="notice"><%= notice %></p>

<p>
  <b>Source URL:</b>
  <%= @shorten_url.source_url %>
</p>

</p>

<%= link_to 'Edit', edit_user_shorten_url_path(@user, @shorten_url) %> |
<%= link_to 'Back', user_shorten_url_path(@user, @shorten_url) %>
