<p id="notice"><%= notice %></p>

<p>
  <b>Source URL:</b>
  <%= @shorten_url.source_url %>
</p>

</p>

<%= link_to 'Edit', edit_shorten_url_path(@shorten_url) %> |
<%= link_to 'Back', shorten_urls_path %>
